{#
/**
 * Video Embedder plugin for Craft CMS 3.x
 *
 * Craft plugin to generate an embed URL from a YouTube or Vimeo URL.
 *
 * @link      http://github.com/mikestecker
 * @copyright Copyright (c) 2017 Mike Stecker
 */
#}

{% import "_includes/forms" as forms %}


<div class="video-embedder-tableAttributeHtml">
    <div class="video-embedder-tableAttributeHtml-thumb">
	{% if value %}
        <img src="{{ craft.videoEmbedder.getVideoThumbnail(value) }}" alt="">
	{% endif %}
    </div>
</div>
